p {
    color: black
}

.empty {
    text-align: center;
}

.link-add {
    color: grey;
    animation: blink 1s infinite alternate;
    transition: 0.5s ease-in-out;
}


@keyframes blink {
    0% {
        color: grey;
    }
    100% {
        color: black;
    }
}

.link-add:hover {
    color: #ff4c4c;
    animation: none;
}

.container1 a p {
    color: gray
}

.book-author a {
    color: gray;
    border-bottom: 1px solid rgba(128, 128, 128, 0);
    transition: 0.1s ease-in-out;
}

.book-author a:hover {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.cover {
    background: gray;
    width: 105px;
    height: 165px;
    margin: 0 10px;
}

.book-list-item {
    display: flex;
    align-items: center;
    width: 450px;
    height: 180px;
}

.book-title {
    margin-top: 0;
}

.book button {
    margin-right: 5px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
}

.button-read {
    background: lightgreen;
    color: black
}

.container1 button {
    margin-right: 5px;
}

.button-read:hover {
    background: #00c100;
}

.button-edit {
    background: lightyellow;
    color: black
}

.button-edit:hover {
    background: #ffe433;
}

.button-delete {
    background: #ff9696;
}

.button-delete:hover {
    background: #ff5252;
}