.author-icon {
    height: 100%;
    margin: 5px;
    cursor: pointer;
    max-width: 100px;
    max-height: 100px;
}

.author-icon_checked {
    margin: 5px;
    border: 2px solid goldenrod;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 1px 0 goldenrod inset, 0 0 1px 0 goldenrod;
    cursor: pointer;
}

.author-img {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 1px 0 white inset, 0 0 1px 0 white;
    border: 2px solid white;
    border-radius: 50px;
    background: url('https://b-tm.com.ua/assets/galleries/105/noimage.png') center/cover no-repeat;
    max-width: 100px;
    max-height: 100px;
}

.author-icon p {
    text-align: center;
}